body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #111111;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
}
